<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="FirefoxTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.ranFordBank.RanFordBank.TestExecution" >
			<methods>
				<include name="varify_launch"></include>
				<include name="verify_Login"></include>
				<include name="varify_excelcontent"></include>
			</methods>
			</class>
		</classes>
	</test> <!-- Test -->

	<!-- <test thread-count="5" name="FirefoxTest">
		<parameter name="browser" value="Firefox"></parameter>
		<classes>
			<class name="com.ranFordBank.RanFordBank.TestExecution" >
			<methods>
				<include name="varify_launch"></include>
				<include name="verify_Login"></include>
				<include name="varify_NewRole"></include>
			</methods>
			</class>
		</classes>
	</test> Test -->
</suite> <!-- Suite -->
